main {
    font-family: 'Oswald', sans-serif;
}

.app-title {
    font-size: 80px;
    opacity: 0.4;
}

.container {
    margin: auto;
    padding: 25px;
    max-width: 75%;
    border: 1px black solid;
    text-align: center;
}

.grid-container {
    display: grid;
}

.form-container {
    margin: auto;
    max-width: 34%;
    grid-row-gap: 15px;
    border: 0.5px black solid;
}

.form-container input[type="text"], input[type="url"] {
    width: 80%;
    justify-self: center;
}

.form-container button {
    border: none;
    outline: none;
    background-color: transparent;
    justify-self: center;
}

.form-container button {
    cursor: pointer;
}

.application-list {
    list-style-type: none;
}

.application-item {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: 0.5px black solid;
}

ul {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}